#define WIFI_SSID "SSID"
#define WIFI_PASSWORD "Password"

#define MQTT_HOST IPAddress(192, 168, 1, 100)
#define MQTT_PORT 1883

#define DEVICE_ID "rgb"
#define DEVICE_NAME "RGB LED Controller"

#define PIN_RED D1
#define PIN_GREEN D2
#define PIN_BLUE D3